{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "tabWidth": 2,
        "useTabs": false
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*stories.js", "**/*test.js", "webpack/*"] }
    ],
    "import/prefer-default-export": false
  }
}
